node_modules
.env
coverage
coverage.json
typechain
typechain-types

notes.md

#Hardhat files
cache
artifacts

contracts/.deps
contracts/artifacts
contracts/staking.sol
contracts/.deps
contracts/Token/artifacts